.search-header{
    text-align: center;
    padding: 40px;
}

.search-header .search-header-name{
    font-weight: bold;
}

.ApiSearch{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 10px;
}
.ApiSearch .search-form{
    text-align: center;
    padding: 0 200px;
 }

.ApiSearch .search-group .search-input{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding-left: 15px;
    border: 1px solid #ccc;
}

.ApiSearch .search-form .search-button{
    margin: 20px 0;
    width: 250px;
    height: 40px;
    background-color: #099b10;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
.ApiSearch .search-form .search-button:hover{
    background-color: #018607;
}

.ApiSearch .ApiBookSearchDetail{
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: center;
}

.ApiSearch .ApiBookSearchDetail  > div{
    flex: 0 1 150px;
    line-height: 40px;
    text-align: right;
    padding-right: 15px;
}

.ApiSearch .ApiBookSearchDetail  > select{
    margin: 0;
    flex: 0 1 200px;
    border: 1px solid #ccc;
}

.ApiSearch > h4{
    margin: 30px 0 20px 0;
    padding-left: 20px;
}

.ApiSearch .search-list{
    width: 100%;
    border: 1px solid #ccc;
    padding: 30px 20px;
    border-radius: 3px;
}

.search-list > .container .row{
    display: flex;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
}


.search-list > .container .row .bookapiimage{
    flex: 0 1 200px;
    padding: 0;
    height: 100%;
}
.search-list > .container .row .bookapiimage > img{
    height: 100%;
    width: 100%;
}

.search-list > .container .row .card-body{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
}

.search-list > .container .row .card-body .card-title{
    flex: 1;
}

.search-list .pagination .page-item > .page-link{
    color: #099b10;
}

.search-list .pagination .active  {
    background-color: #099b10;
}

.search-list .pagination .active .page-link  {
color: #ffffff;
border: 1px solid #099b10;
background-color: #099b10;
}


.ApiSearch .request-btn{
    background-color: #099b10;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}