/* requestBooksList.css */

.request_books_list {
    font-family: 'Noto Sans KR', sans-serif;
    position: relative; /* 사이드바 옆에 배치 */
    margin-left: 250px; /* 사이드바 너비만큼 왼쪽 여백 추가 */
    padding: 20px; /* 내부 여백 조정 */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(90% - 250px); /*너비를 사이드바 제외한 나머지 공간으로 설정 */
    box-sizing: border-box; /* 패딩과 보더를 너비에 포함 */
}



.request_books_list h2 {
    text-align: center;
    margin-bottom: 20px;
}

.request_books_list ul {
    list-style-type: none;
    padding: 0;
}

.request_books_list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.request_books_list li:last-child {
    border-bottom: none;
}

.request_books_list input[type="checkbox"] {
    margin-right: 10px;
}

.request_books_list .actions {
    text-align: center;
    margin-top: 20px;
}

.request_books_list button {
    margin: 5px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.request_books_list button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.request_books_list button:hover {
    background-color: #0056b3;
}

.error_message {
    text-align: center;
    color: red;
    margin-top: 20px;
}
