/* 전체 화면을 가리는 배경 */
.findpw .findpw-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 팝업 창 */
.findpw .findpw-popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
}

/* 기본 창 */
.findpw {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.findpw-form {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
}

.findpw-id,
.findpw-email {
    margin-bottom: 10px;
}

.findpw label {
    display: block;
    margin-bottom: 5px;
}

.findpw input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.findpw button {
    width: 100%;
    padding: 10px;
    background-color: #495057;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.findpw button:hover {
    background-color: #395057;
}

.findpw .findpw-popup p {
    margin-bottom: 10px;
}

.findpw .findpw-popup button {
    padding: 10px;
    background-color: #495057;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.findpw .findpw-popup button:hover {
    background-color: #395057;
}