.findid {
    max-width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.findid h2 {
    margin-bottom: 20px;
    color: #333;
}

.findid .findid-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.findid .findid-form div {
    margin-bottom: 10px;
    text-align: center;
    width: 60%;
}
.findid .findid-form label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    text-align: left;
}

.findid .findid-form input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.findid .findid-form button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #3949ab;
    color: #fff;
    width: 45%;
}

.findid .findid-form button:hover {
    background-color: #283593;
}

.findid .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
}

.findid .popup p {
    margin-bottom: 10px;
}

.findid .popup button {
    padding: 8px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #3949ab;
    color: #fff;
}

.findid .popup button:hover {
    background-color: #283593;
}

.findid .link a {
    text-decoration: none;
    color: #666;
    text-align: center;
    margin-top: 20px;
 }