.bookInterest {
  padding: 20px;
}

.bookInterest .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookInterest .card {
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.bookInterest .card:hover {
  transform: scale(1.02);
}

.bookInterest .row.g-0 {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

.bookInterest .img-container {
  width: 192px;
  overflow: hidden;
  border-right: 1px solid #ddd;
}

.bookInterest .img-container img {
  width: 200px;
  height: 300px;
  object-fit: contain;
}

.bookInterest .card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bookInterest .card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.bookInterest .card p {
  margin: 5px 0;
}

.bookInterest .card button {
  background-color: #007bff;
  color: black;
  border: none;
  border: 3px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.bookInterest .card button:hover {
  background-color: #0056b3;
}

.bookInterest .no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  color: #aaa;
  font-size: 1rem;
}

.bookInterest .message {
  margin-top: 20px;
}
