
.mypage-container .bookInterest{
  margin: 30px auto;
  width: 75%;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


.bookInterest .card {
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.bookInterest .card:hover {
  transform: scale(1.02);
}

.bookInterest .row {
  display: flex;
  cursor: pointer;
}

.bookInterest .row .img-container{
  flex: 0 1 180px;
  min-height: 200px;
}
.bookInterest .row .img-container > img{
  height: 100%;
}
.bookInterest .row .text-center{
  flex: 1;
}

.bookInterest .row .text-center > .card-body{
display: flex;
flex-direction: column;
height: 100%;
}

.bookInterest .card-body > h5,
.bookInterest .card-body > p{
  flex: 1;
  margin: 10px 0 ;
}

.bookInterest .row .delButton{
  flex: 0 0.5 150px;
}

.bookInterest .card button {
  background-color: #e93030;
  color: #fff;
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.bookInterest .card button:hover {
  background-color: #c91d1d;
}

.bookInterest .interest_pagination{
  margin-top: 35px;
  text-align: center;
}

.bookInterest .interest_pagination > span{
  font-size: 20px;
  display: inline-block;
  margin: 0 20px;
}

.bookInterest .interest_pagination > button{
  background-color: #d3d3d3;
  border: none;
  color: #000000;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.bookInterest .interest_pagination > button:hover{
  background-color: #aeb0be;

}