/* SearchPage.css */
.bookSearch .centered-content {
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
}

.bookSearch .row{
  width: 200px;
  padding-top: 30px;
}

.bookSearch .Search{
  width: 100%;
}

.bookSearch .full-width {
  width: 100%;
}

.bookSearch .left-align {
  text-align: left;
}

.bookSearch .cover-img {
  object-fit: cover;
  width: 160px;
  height: 220px;
}

.bookSearch .no-image {
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookSearch .book-detail-container {
  display: flex;
  align-items: flex-start; /* 상단 정렬 */
  margin-bottom: 20px; /* 각 책 정보 사이에 간격 추가 */
  padding: 10px;
  border: 1px solid #000;
  flex-direction: row; /* 가로 방향으로 배치 */
}

.bookSearch .img-container {
  flex: 0 0 auto; /* 고정된 크기 사용 */
  margin-right: 20px; /* 이미지와 텍스트 사이의 간격 추가 */
}

.bookSearch .text-container {
  flex: 1; /* 텍스트 컨테이너가 남은 공간을 차지하도록 설정 */
  text-align: left;
  padding-top: 15px;
}

.bookSearch .buttons-container {
  margin-top: 10px;
}

.bookSearch .buttons-container button {
  margin-right: 5px;
  width: 150px;
}

.bookSearch .bt {
  padding-bottom: 10px;
}

.bookSearch .sc {
  padding: 10px;
  margin-left: 250px;
  margin-right: 250px;
}

.bookSearch #btnGroupAddon2{
  width: 90px;
  height: 50px;
}

.bookSearch .searchForm{
  width: 600px;
  height: 50px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 20px;
}

.bookSearch .justify-content-center{
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 20px;
}

.bookSearch .react-autosuggest__input {
  width: 600px;
  height: 50px;
  padding: 10px 20px;
  font-family: 'Arial, sans-serif';
  font-weight: 300;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 4px;
}