.admin-page {
  padding-top: 7px;
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  padding-bottom: 30px;
  overflow: hidden; /* 메인 영역에 스크롤 바 추가 */
}

.admin-page-main {
  margin-top: 100px;
  margin-left: 270px;
  padding-bottom: 30px;
  width: 85%;
  align-items: center;
  height: calc(100vh - 100px); /* 전체 높이에서 여백을 뺀 높이 설정 */
  overflow: hidden; /* 주의: 이 속성은 main 요소에 스크롤을 숨깁니다. */
  overflow-y: auto; /* 세로 스크롤바 추가 */
  background-color: hsla(45, 6%, 87%, 0.459);
}

/* 메인 폼 영역 */
.admin-page-main > .admin-page-body {
  padding: 20px 100px;
  border-radius: 15px;
  min-height: 850px;
  align-items: center;
  background-color: white;
  margin: 0 auto;
}

.admin-page-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.admin-detail-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.admin-board-form {
  padding: 20px;
  border-radius: 15px;
  align-items: center;
  background-color: white;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.admin-content-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}

.admin-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.admin-input-title,
.admin-input-textarea {
  margin-bottom: 10px;
}

.admin-board-label {
  padding-left: 10px;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  color: #1f1a1a;
}

.admin-input-title input,
.admin-input-textarea textarea {
  width: calc(100% - 20px);
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.admin-input-title input {
  height: 40px;
}

.admin-input-textarea textarea {
  height: 300px;
}

.admin-input-title input::placeholder,
.admin-input-textarea textarea::placeholder {
  color: #999;
}



/* 이미지 리스트 스타일링 */
.board-img-list {
  display: flex;
  flex-wrap: wrap; /* 이미지가 2개가 넘어가면 줄바꿈 */
  justify-content: center;
}

.admin-input-container >.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.img-thumbnail {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.file {
  width: 200px;
}


/*하단 버튼 - 저장, 돌아가기 */
.admin-board-button {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  margin: 0 auto;
}

/* admin-top */
.admin-page-top .admin-page-search input,
.admin-page-top .admin-page-search select,
.admin-page-top .admin-page-button button
  {
  margin: 5px;
}

