/* General Styles */
.detail-form {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.detail-form form>h3 {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
}

/* Form Styles */
.detail-form form {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.detail-form form input, .detail-form form textarea {
    width: calc(70% - 22px);
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.detail-form form input[type='file'] {
    width: calc(70% - 22px);
    margin: 0 auto;
    margin-bottom: 2px;
}

.detail-form form textarea {
    height: 500px;
}

.detail-form form input[type='text']::placeholder {
    color: #999;
    font-family: Arial, sans-serif;
}

.detail-form form button[type='button'],
.detail-form form button[type='submit'] {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #495057;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.detail-form .img-upload {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.detail-form .img-upload input[type='file'] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.detail-form .img-upload label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 5px 0px 16px;
    margin: 5px 0;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #333;
    text-align: left;
}

.detail-form .img-upload .file-label-text {
    flex: 1;
}

.detail-form .img-upload button {
    margin-left: auto;
}

.detail-form .img-upload button:hover {
    background-color: #c82333;
}

.detail-form .img-container1 {
    margin: 0 auto;
    width: 70%;
}

.detail-form .img-container1 .file-uplo {
    width: 100%;
}

/* 이미지 컨테이너 기본 스타일 */
.detail-form .img-container1 .img-pre {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
   
}

.detail-form .img-preview {
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    z-index: 1;
}

.detail-form .img-preview{
    width: 100px;
    height: 100px;
}

/* 호버 시 이미지 확대 */
.detail-form .img-preview:hover {
    transform: scale(3);
    /* (x)배 확대 */
    z-index: 3;
}