/* General Styles */
.board-detail-form {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.user-board-detail {
    width: 70%;
    margin: 0 auto;
    padding: 0;
}

.board-detail-form form h2 {
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
}

/* Form Styles */
.board-detail-form form {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.board-detail-form form input,
.board-detail-form form textarea {
    background-color: #FAFAF8;
    width: 100%;
    border: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.board-detail-form form textarea{
    padding: 10px;
    height: 150px;
}


.board-detail-form form input[type='file'] {
    width: calc(70% - 22px);
    margin: 0 auto;
    margin-bottom: 2px;
}

.board-detail-form form input[type='text']::placeholder {
    color: #999;
    font-family: Arial, sans-serif;
}

/* 제목 내용 등 정렬 */
.b-inputtable, .userb-inputtable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

}

.input-container .b-inputtable th,
.input-container .b-inputtable td,
.input-container .userb-inputtable th,
.input-container .userb-inputtable td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;;
    text-align: left;
}

.input-container .b-inputtable th,
.input-container .userb-inputtable th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.b-inputtable tr th:nth-child(1),
.b-inputtable tr td:nth-child(1),
.userb-inputtable tr th:nth-child(1),
.userb-inputtable tr td:nth-child(1) {
    width: 25%;
}

.b-inputtable tr th:nth-child(2),
.b-inputtable tr td:nth-child(2),
.userb-inputtable tr th:nth-child(2),
.userb-inputtable tr td:nth-child(2) {
    width: 25%;
}

/* 버튼 스타일 */
.board-detail-form form button[type='button'] {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #495057;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

/* 이미지 관련 스타일 */
.board-detail-form .img-upload {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.board-detail-form .img-upload input[type='file'] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.board-detail-form .img-upload label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 5px 0px 16px;
    margin: 5px 0;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #333;
    text-align: left;
}

.board-detail-form .img-upload .file-label-text {
    flex: 1;
}

.board-detail-form .img-upload button {
    margin-left: auto;
}

.board-detail-form .img-upload button:hover {
    background-color: #c82333;
}

.board-detail-form .img-container1 {
    margin: 0 auto;
    width: 70%;
}

.board-detail-form .img-container1 .file-uplo {
    width: 100%;
}

.board-detail-form .img-container1 .img-pre {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;

}


.board-detail-form .img-preview {
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    z-index: 1;
}

.board-detail-form .img-preview {
    width: 100px;
    height: 100px;
}

/* 호버 시 이미지 확대 */
.board-detail-form .img-preview:hover {
    transform: scale(3);
    /* (x)배 확대 */
    z-index: 3;
}

.board-detail-form .img-container1 .uimg-pre{
    width: 100%;

}

.board-detail-form .img-container1 .uimg-pre .img-preview{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.board-detail-form .img-container1 .uimg-pre .img-preview:hover{
    transform: none;
}
