/* General Styles */
.detail-form  {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.detail-form form > h3 {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
}

/* Form Styles */
.detail-form form {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.detail-form form input,textarea {
    width: calc(70% - 22px);
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.detail-form form input[type='file']{
    width: calc(70% - 22px);
    margin: 0 auto;
    margin-bottom: 2px;
}
.detail-form form textarea{
    height:500px;
}

.detail-form form input[type='text']::placeholder {
    color: #999;
    font-family: Arial, sans-serif;
}

.detail-form form button[type='button'],
.detail-form form button[type='submit'] {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #495057;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

.detail-form .img-upload {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.detail-form .img-upload label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    color: #333;
}

.detail-form .img-upload input[type='file'] {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 이미지 컨테이너 기본 스타일 */
.detail-form .img-preview-container {
    display: inline-block;
    position: relative;
}

.detail-form .img-preview {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
    z-index: 1;
}

/* 호버 시 이미지 확대 */
.detail-form .img-preview-container:hover .img-preview {
    transform: scale(3); /* (x)배 확대 */
    z-index: 3;
}