/* General Styles */
.create-form {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.create-form .form-list > h3 {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
}

/* Form Styles */
.create-form .form-list {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.create-form .form-list input,
.create-form .form-list textarea {
    width: calc(70% - 22px);
    margin: 0 auto;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.create-form .form-list input[type='file']{
    margin-bottom: 2px;
}
.create-form .form-list textarea{
    height:500px;
}

.create-form .form-list input[type='text']::placeholder {
    color: #999;
    font-family: Arial, sans-serif;
}

.create-form .form-list button[type='button'],
.create-form .form-list button[type='submit'] {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    /* background-color: #495057; */
    /* color: #fff; */
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}