/* General Styles */
.create-form {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.create-form form > h3 {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
}

/* Form Styles */
.create-form form {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.create-form form input,textarea {
    width: calc(70% - 22px);
    margin: 0 auto;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.create-form form input[type='file']{
    margin-bottom: 2px;
}
.create-form form textarea{
    height:500px;
}

.create-form form input[type='text']::placeholder {
    color: #999;
    font-family: Arial, sans-serif;
}

.create-form form button[type='button'],
.create-form form button[type='submit'] {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #495057;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}