<!DOCTYPE html>
<html>



<div class="section" layout:fragment="content">
	<script src="/javascript/findidForm.js"></script>
	<div class="container">
		<div class="row full-height justify-content-center">
			<div class="col-12 text-center align-self-center py-5">
				<div class="section pb-5 pt-5 pt-sm-2 text-center">

					<label for="reg-log"></label>
					<div class="card-3d-wrap mx-auto">
						<div class="card-3d-wrapper">
							<div class="card-front">
								<form action="/users/findid" role="form" method="post" th:object="${userFormDto}">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3 signup-font">아이디 찾기</h4>
											<div class="form-group">
												<input type="text" name="findEmail" class="form-style-id"
													th:field="*{email}" placeholder="이메일" id="findEmail"
													autocomplete="off">
												<i class="input-icon uil uil-at"></i>
												<button type="button" class="btn-check btn-primary"
													onclick="sendEmail()">인증번호 전송</button>
											</div>
											<div class="form-group mt-2">
												<input type="text" name="findCode" class="form-style input-email-code"
													placeholder="인증코드" id="findCode" autocomplete="off">
												<i class="input-icon uil uil-lock input-icon-code"></i>
											</div>
											<div class="form-group mt-2">
												<button type="button" class="btn-check btn-primary btn-email-end"
													onclick="sendEmail()">인증번호 재발행</button>
												<button type="button" class="btn-check btn-primary btn-email-end"
													onclick="checkEmail()">인증확인</button>
											</div>
											<input type="hidden" th:name="${_csrf.parameterName}"
												th:value="${_csrf.token}">
											<p class="mb-0 mt-4 text-center explanation-font">
												<button type="button" class="btn btn-success btn-block" id="login"
													onClick="location.href='/users/login'">로그인하기</button>
												<button type=" button" class="btn btn-success btn-block" id="findpwd"
													onClick="location.href='/users/findpwd'">비밀번호찾기</button>
											</p>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</html>