.admin-addBook-page {
    background-color: hsla(45, 6%, 87%, 0.459);
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    padding-bottom: 30px;
    height: 100vh;
    overflow: hidden;

}

.admin-addBook-main {
    margin-top: 100px;
    margin-left: 270px;
    width: 85%;
    align-items: center;
    height: calc(100vh - 100px); /* 전체 높이에서 여백을 뺀 높이 설정 */
    overflow: hidden; /* 주의: 이 속성은 main 요소에 스크롤을 숨깁니다. */
    overflow-y: auto; /* 세로 스크롤바 추가 */


}

/*메인 폼 영역 */
.admin-addBook-body {
    font-family: 'Noto Sans KR', sans-serif;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 95%;
    min-height: 100%; /* 부모 요소의 높이를 가득 채우도록 설정 */

}



  .admin-addBook-body form{
    width: 80%;
    
  }
  /*제목, 검색창 가운데 정렬 */
  .admin-addBook-title{
      text-align: center;
    padding: 10px;
  
  }