
.admin-page {
  background-color: hsla(45, 6%, 87%, 0.459);
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  padding-bottom: 30px;
  overflow: hidden; /* 메인 영역에 스크롤 바 추가 */
}

/*메인영역 */
.admin-main-main {


  border: 1px solid #00000000;

  margin-top: 80px;
  margin-left: 270px;


  height: 100%;
  width: 85%;
  align-items: center;

}

/*메인 폼 영역 */
.admin-main>.admin-body {
  padding: 40px 100px 40px 100px;
  border: 1px solid #00000000;
  border-radius: 20px;

  align-items: center;
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
}
