.content {
  font-family: 'Noto Sans KR', sans-serif;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:20px;
}

.userList {
  width: 100%;
  margin-top: 25px;
  margin:  0 auto;

}

.userList div {
  margin-bottom: 20px;
}

.userList select, 
.userList input[type="text"], 
.userList input[type="radio"] + label {
  margin-right: 10px;
  padding: 5px;
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
}

/* .userList button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

/* .userList button:hover {
  background-color: #0056b3;
} */

.search-container {
  display: flex;
  justify-content: center; /* 가로 방향에서 중앙 정렬 */
  align-items: center; /* 세로 방향에서 중앙 정렬 */
  margin-top: 20px;
}

/* 검색 입력 및 버튼 영역 스타일링 */
.search-part {
  padding: 20px;
  margin: 0 auto;
  text-align: center;


}

검색 버튼 스타일링
.search-part button {
  padding: 10px 20px;
  margin-left: 10px; /* 검색 입력과 버튼 사이의 간격 */
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}



/* 검색 입력 필드 스타일링 */
.search-part input[type="text"] {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* 라디오 버튼 및 라벨 스타일링 */
.search-part label {
  margin-right: 10px;
}

.search-part input[type="radio"] {
  margin-right: 5px;
}

/* Flexbox를 사용하여 검색 부분을 중앙 정렬 */
.search-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}


table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 1px; /* 셀 여백 설정 */
  
  font-size: 25px;
}

th {
  background-color: #f2f2f2;
}

.tableheader {
  font-weight: bold;
  table-layout: fixed;
}

label {
  margin-right: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
}