 /* 사이드, 본문영역 나눔 */
.admin-main-container {
    padding-top: 100px;
      font-family: 'Noto Sans KR', sans-serif;
      background-color: hsla(45, 6%, 87%, 0.459);
      display:grid;
      grid-template-columns:  15% 85%;
     height: 100vh;
      overflow: hidden; /* 내용이 넘칠 때 스크롤바 표시 */
    
    }
    
    /*본문 */
    .admin-content {
      font-family: 'Noto Sans KR', sans-serif;
      align-items: center;
      background-color: white;
      border-radius: 20px;
     margin: 0 auto;
     margin-top: 10px;
     margin-bottom: 40px;
     width: 95%;
    
    /* height: calc(100vh - 80px); 헤더 높이를 뺀 만큼의 높이를 설정 */
    }
