.sidebar {
  position: fixed;
  top: 80px; /* 헤더 높이만큼 위쪽 위치를 설정 */

  border-radius: 15px;
  padding-top: 30px;   /*사이드바 메뉴 패딩 */

  font-family: 'Noto Sans KR', sans-serif;
  margin: 25px;

  background-color: white;
  width: 220px; /* 사이드바 너비를 220px로 설정 */
  height:850px;

}



li {
  margin-top:10px;
  list-style: none;
}





.no-underline {
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 5px 5px;
  font-size: 20px;
}

/* 클래스 .no-underline에 hover 효과 추가 */
.no-underline:hover {
  background-color: #fdc92c6c;
}


.has-submenu {
  position: relative;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  list-style-type: none;
  padding-left: 15px;
  font-size: 18px;
}

/*클릭하면 서브메뉴 고정 */
.submenu.open {
  max-height: 200px; /* 충분히 큰 값으로 설정하여 모든 하위 항목이 보이도록 함 */
  transition: max-height 0.5s ease-in;
}

/*hover -> 서브메뉴 촤라락~ */
.has-submenu:hover .submenu {
  max-height: 200px;
  transition: max-height 0.5s ease-in;
}
