.sidebar {
  position: fixed;
  top: 120px; /* 헤더 높이만큼 위쪽 위치를 설정 */
  left: 0;
  height: calc(100vh - 80px); /* 헤더 높이를 뺀 만큼의 높이를 설정 */
  width: 220px; /* 사이드바 너비를 120px로 설정 */
  background-color: #56789ce1;
  padding-top: 30px;
  padding-left: 10px;
  /* box-shadow: 2px 0 5px rgba(247, 245, 245, 0.1); */
  font-family: 'Noto Sans KR', sans-serif;
}



li {
  margin: 10px 0;
  
}

.no-underline {
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 5px 5px;
  font-size: 22px;
}

.no-underline:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 2px rgb(255, 250, 250);;
  
  
}

.has-submenu {
  position: relative;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  list-style-type: none;
  padding-left: 15px;
  font-size: 18px;
}

.submenu.open {
  max-height: 200px; /* 충분히 큰 값으로 설정하여 모든 하위 항목이 보이도록 함 */
  transition: max-height 0.3s ease-in;
}

.has-submenu:hover .submenu {
  max-height: 200px;
  transition: max-height 0.3s ease-in;
}
