html, body {
    height: 100%;
  }
  
  
  
   .Calendar {
    height:100vh;
    width:100vw;
    font-size: 1.5vh;
    display: flex;      /* display 설정해줘야 아래 flex로 해주면 direction 선택가능*/
    flex-direction: column;   /* 이건 세로순으로  태그들을 표시함 css*/
    align-items: center;      /* 이건 가로 중앙 css*/
    justify-content: center;  /* 이건 세로 중앙 css*/
    white-space: pre-wrap;
  
   
  
  }
  .CalendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left-controls {
    display: flex;
    align-items: center;
  }


  .right-controls {
    margin-left: auto; /* 오른쪽 정렬을 위해 auto 마진을 사용 */
  }
  
  .Calendar .control{
    display: flex;
    flex-direction: row;
 
  }
  .Calendar table{
    display:flex;
    width:50vw;
    height:50vh;
 
  }
  .Calendar table tbody{
    display:flex;
    flex-direction: column;
  }
  .Calendar tr{
      display:flex;
      flex-direction: row;
  }
  .Calendar td{
      display:flex;
      border:1px solid gray;
      width:10vw;
      height:10vh;
  }
  .Calendar td span{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
  }


