.listHeader {
    display: flex;
    justify-content: space-between; /* 요소들 사이의 간격을 최대화 */
    align-items: center; /* 요소들을 세로 방향으로 중앙 정렬 */
    padding: 10px; /* 필요에 따라 패딩 추가 */
}

.listHeader h2 {
    margin: 0; /* 기본 마진 제거 */
}

.listHeader button {
    margin-left: auto; /* 버튼을 오른쪽으로 위치시키기 위해 왼쪽 여백을 자동으로 설정 */
}