.content {
  
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:20px;
}

 .calendar {
  
  width: 100%;
  margin-top: 20px;
  text-align: center;
 
 
}

.date-navigation {
 
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
}

.date-navigation span {
  margin: 0 10px;
  font-weight: bold;
}

.button-group .regschedule {
  margin-right: 10px;
}

.calBody {
  
  width: 100%;
  overflow-x: auto;
}  

.tableheader {

  margin: 0 auto;
  width: 70%;
 
  border-collapse: collapse;
}


/*캘린더 행, 열 고정 */
.tableheader td {
  
  table-layout: fixed;
  height: 90px; /* 높이를 100px로 고정 */
  vertical-align: top; /* 내용을 상단에 정렬 */
  /* padding: 8px; 내부 패딩 */
  overflow: hidden; /* 내용이 넘칠 경우 숨김 */
}


th, td {
  font-family: "Nanum Gothic", sans-serif;
  border: 1px solid #ddd;
  padding: 5px;
  width: 20px;
  text-align: center;
  word-wrap: break-word; /* 내용이 너무 길면 줄바꿈 */
  height: 40px; /* 셀의 높이를 40px로 고정 */
}



th {
  background-color: #dfe0e4;
  
}

.day {
  vertical-align: top;
  text-align: left;
  padding: 5px;
}

.not-current {
  background-color: #f9f9f9;
}

.today {
  background-color: rgba(117, 152, 216, 0.4);
  font-weight: bold;
  font-size: 20px;
  color:  #2354b1;
  text-shadow: 1px 1px 3px rgb(248, 248, 248);
}

.weekend {
  color: red;
}

.holiday {
  background-color: #889cc0;
  color: white;
}

.day:hover {
  background-color: #eee;
}

