.Holidaycontent {
  
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:20px;

}

 .calendar {
  table-layout: fixed;
  width: 100%;
  margin-top: 20px;
  text-align: center;
 
}

.date-navigation {
 
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  
}

.date-navigation span {
  margin: 0 10px;
  font-weight: bold;
}

.button-group .regschedule {
  margin-right: 10px;
}

.calBody {
  
  width: 100%;
  overflow-x: auto;
}  

.tableheader {

  margin: 0 auto;
  width: 70%;
  font-family: "Nanum Gothic", sans-serif;
  border-collapse: collapse;
}

/*캘린더 요일 */
.tableheader th {
  border: 1px solid #eee;
  background-color: #93a8ce;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
/*캘린더 셀 */
.tableheader td {
  border: 1px solid #eee;
  table-layout: fixed;
  height: 130px; /* 높이를 100px로 고정 */
  vertical-align: top; /* 내용을 상단에 정렬 */

  
}


/*날짜 */
.day {
  vertical-align: top;
  text-align: left;
  padding: 5px;
  
}
/*해당 월이 아닌 날짜 */
.not-current {
  background-color: #f9f9f9;
  color:#061125ab;
}

/*오늘!*/
.today {
  background-color: rgba(117, 152, 216, 0.4);
  font-weight: bold;
  color:  #061a3d;
  text-shadow: 1px 1px 3px rgb(151, 184, 228);
}

/*주말*/
.weekend {
  color: red;
}

/*휴관일 목록 */
.holiday {
  background-color: #355e94bb;
  color: white;
  font-size: 1em;
}

/*셀에 마우스 갖다대면 */
.day:hover {
  background-color: #eee;
}

