.Holidaycontent {
  font-family: 'Noto Sans KR', sans-serif;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:20px;
  background-color: white;
  border-radius: 20px;

  padding-top: 40px;
  margin: 5px 50px 100% 80px ;    /*본문 테두리여백 */
}





 .calendar {
  table-layout: fixed;
  width: 100%;
  margin: 30px 0 70px 0;
  text-align: center;
 
}

.date-navigation {
 
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  
}

.date-navigation span {
  margin: 0 10px;
  font-weight: bold;
}

.button-group .regschedule {
  margin-right: 10px;
}

.calBody {
  
  width: 100%;
  overflow-x: auto;
}  

.tableheader {

  margin: 0 auto;
  width: 90%;
  font-family: "Nanum Gothic", sans-serif;
  border-collapse: collapse;
  
}

/*캘린더 요일 */
.tableheader th {
  border: 1px solid #eee;
  background-color:#fdc92c81;
  padding: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
/*캘린더 셀 */
.tableheader td {
  border: 1px solid #eee;
  table-layout: fixed;
  height: 130px; /* 높이를 100px로 고정 */
  vertical-align: top; /* 내용을 상단에 정렬 */

  
}


/*날짜 */
.day {
  vertical-align: top;
  text-align: left;
  padding: 5px;
  
}
/*해당 월이 아닌 날짜 */
.not-current {
  background-color: #c4c3c381;
  color:#061125ab;
}

/*오늘!*/
.today {
  background-color: #f0b50633;
  font-weight: bold;
  color:  #061a3d;
  text-shadow: 1px 1px 3px rgb(228, 216, 151);
}

/*주말*/
.weekend {
  color: red;
}

/*휴관일 목록 */
.holiday {
  background-color:#061a3de1;
  color: white;
  font-size: 1em;
}

/*셀에 마우스 갖다대면 */
.day:hover {
  background-color:hsla(45, 6%, 87%, 0.459);
}

