#admin-modal-dialog {
  max-width: 80%; /* 모달의 최대 너비를 80%로 설정 */
  width: 40%; /* 기본 너비를 100%로 설정 */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
  padding: 1rem;
}

.modal-title {
  margin: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  padding: 1rem;
}



#admin-form-group {
  margin-bottom: 1rem;
  text-align: left;
}


#admin-modal-footer {
align-items: center;
display: block;
}


#admin-modal-btn {
  margin: 0;
  border:1px solid black;
  background-color: white;
  color:black;
}

#admin-modal-btn:hover{
  background-color: black;
  color:white;
}

.show.d-block {
  display: block !important;
}
