.mypage-container .loan-status-container{
margin: 30px auto;
width: 75%;
border: 1px solid #ddd;
background-color: #fff;
padding: 50px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
border-radius: 8px;
}


  
  /* 목록 스타일 */
  .loan-status-container ul {
    list-style-type: none; /* 기본 목록 스타일 제거 */
    padding: 0; /* 패딩 제거 */
    margin: 0; /* 마진 제거 */
  }
  
  /* 목록 항목 스타일 */
  .loan-status-container li {
    padding: 10px 0; /* 항목 간의 여백 설정 */
    border-bottom: 1px solid #ddd; /* 항목 간의 구분선 설정 */
    color: #555; /* 텍스트 색상 설정 */
    text-align: center;
  }
  
  /* 마지막 항목의 구분선 제거 */
  .loan-status-container li:last-child {
    border-bottom: none; /* 마지막 항목은 구분선 제거 */
  }
  
  /* 오류 메시지 스타일 */
  .loan-status-container p {
    font-size: 16px; /* 폰트 크기 설정 */
    color: #d9534f; /* 오류 메시지 색상 설정 */
    text-align: center; /* 오류 메시지 중앙 정렬 */
    margin: 0 auto; 
  
  }
  