.mypage-container .reservation_form {
  margin: 30px auto;
  width: 75%;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  }

  .reservation_form .reservation-form-field{
    width: 70%;
    margin: 0 auto;
  }

  .reservation-form label {
    display: block;
    margin: 10px 0;
    font-weight: bold;

  }
  
  .reservation-form input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 40px;
  }
  .reservation-form .reservation-form-button{
    text-align: center;
  }

  .reservation-form button {
    background-color: #007bff;
    width: 200px;
    height: 45px;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  