/* reservationList.css */

.reservation_list {
    margin: 30px auto;
    width: 75%;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
  
}

thead {
    background-color: #f2f2f2;
}

th,
td {
    padding: 12px 15px;
    text-align: center;
    font-size: 14px;
}

th {
    font-weight: bold;
    background-color: #f9f9f9;

}

.actions {
    margin-top: 20px;
}

.actions button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.actions button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error_message {
    color: red;
    font-size: 18px;
    margin-top: 20px;
}