/* reservationList.css */

.reservation_list {
    font-family: 'Noto Sans KR', sans-serif;
    position: relative; /* 업데이트 폼을 사이드바 옆에 배치 */
    margin-left: 250px; /* 사이드바 너비만큼 왼쪽 여백 추가 */
    padding: 20px; /* 내부 여백 조정 */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(80% - 250px); /* 업데이트 폼 너비를 사이드바 제외한 나머지 공간으로 설정 */
    box-sizing: border-box; /* 패딩과 보더를 너비에 포함 */
}

.reservation_list h2 {
    text-align: center;
    margin-bottom: 20px;
}

.reservation_list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.reservation_list th,
.reservation_list td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.reservation_list th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.reservation_list td:first-child {
    font-weight: bold;
}

.reservation_list tr:hover {
    background-color: #f5f5f5;
}

.reservation_list .actions {
    text-align: center;
}

.reservation_list button {
    margin: 5px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reservation_list button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.reservation_list button:hover {
    background-color: #0056b3;
}

.error_message {
    text-align: center;
    color: red;
    margin-top: 20px;
}
