.full_footer {
    background-color: #f1f1f1;
    padding: 20px 0;
}

.footer_menu {
    list-style: none;
    padding: 0;
    text-align: center;
}

.footer_menu .menu_item {
    display: inline;
    margin: 0 15px;
}

.footer_menu .menu_item .footer_link {
    text-decoration: none;
    color: #000;
}

.footer_content {
    text-align: center;
    font-size: 13px;
    color: gray;
}