<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>FAQDetail</title>
</head>
<th:block>
	<style>
	</style>
</th:block>
<div>
	<form role="form" method="post" enctype="multipart/form-data" th:object="${FaqFormDto}">
		<p>글 상세</p>
		<input type="text" th:field="*{title}" placeholder="제목을 입력해주세요">
		<input type="text" th:field="*{content}" placeholder="내용을 입력해주세요">
		<button th:formaction="@{/faq/new}" type="submit">저장</button>
	</form>
</div>

</html>