<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>FAQDetail</title>
</head>
<div>
	<form role="form" method="post" enctype="multipart/form-data" th:object="${FaqFormDto}">
		<p>글 상세</p>
		<div layout:fragment="content">
			<div>
				<div>
					<table>
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>내용</th>
								<th>수정시간</th>
							</tr>
						</thead>
					<tr>
							<td th:text="${faq.id}"></td>
							<td th:text="${faq.title}"></td>
							<td th:text="${faq.content}"></td>
							<td th:text="${faq.updateTime}"></td>
						</tr>
					</table>
				</div>
	</form>
</div>
</html>