<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<script>
		
	</script>
	<body>
		 <form action="/admin/user/search" method="get">
		        <label for="searchBy">searchBy</label>
		        <select id="searchBy" name="searchBy">
		            <option value="userId">ID</option>
		            <option value="userName">Name</option>
		        </select>

		        <input type="text" id="searchQuery" name="searchQuery">

		        <label for="selectRadio">select</label>
		        <select id="selectRadio" name="selectRadio">
		            <option value="all">All</option>
		            <option value="penalty">Penalty</option>
		            <option value="latefee">Late Fee</option>
		        </select>

		        <button type="submit">Search</button>
		    </form>

		    <div>
		        <h2>결과</h2>
		        <table>
		            <thead>
		                <tr>
		                    <th>ID</th>
		                    <th>Name</th>
		                    <th>Penalty</th>
		                    <th>Late Fee</th>
		                </tr>
		            </thead>
		            <tbody>
		                <th:block th:each="user : ${users}">
		                    <tr>
		                        <td th:text="${user.loginid}">ID</td>
		                        <td th:text="${user.name}">Name</td>
		                        <td th:text="${user.penalty}">Penalty</td>
		                        <td th:text="${user.lateFee}">Late Fee</td>
		                    </tr>
		                </th:block>
		            </tbody>
		        </table>
		    </div>
	</body>
</html>