#book-search-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 800px;
}

#book-search-container .search_navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#book-search-container .navbar_container {
    width: 100%;
}

#book-search-container .search_place {
    flex: 1;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 40px 0 0 40px;
    border-right: none;
    width: 500px;
    max-width: 500px;
    box-sizing: border-box;
}

#book-search-container .search_btn {
    cursor: pointer;
    padding: 15px 35px; 
    background-color: var(--sub_bg_03);
    border: 1px solid var(--sub_bg_03);
    border-radius: 0 40px 40px 0;
    color: white;
    font-size: 18px;
    transition: background-color 0.3s;
    margin-left: -2px;
    height: 65px;
    line-height: 1.4;
    justify-items: center;
}

#book-search-container .search_btn:hover {
    background-color: #cec7bb;
}
