/* 기본 레이아웃 스타일 */
.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* 전체 배경 색 */
    background-color: #fbfcfd;
}

.main_grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0;
}

.content_grid {
    display: flex;
    /* 사이즈 이상하면 삭제 */
    align-items: center;
    width: 100%;
    max-width: 1200px; /* 최대 너비를 설정하여 너무 넓어지지 않도록 함 */
    gap: 20px;
}

.top_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.book_search {
    display: flex;
    /* justify-content: flex-start; */
    justify-content: center;
    flex: 1;
}

.notice_board {
    display: flex;
    /* justify-content: flex-start; */
    justify-content: center;
    flex: 1;
}

.monthly_plan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.login_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* 각 요소들의 공통 스타일 */
.notice_board, .monthly_plan, .login_box {
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* 하얀 배경색 */
}

/* 부가 콘텐츠 스타일 */
.sub_content1, .sub_content2 {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 80%;
    max-width: 1200px;
    margin: 20px 0;
}

.sub_content1 .trend_list, .sub_content2 .recommend_content, .sub_content2 .lib_guide {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    
}

.recommend_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.recommend_list {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* overflow-x: auto; */
}


/* 트렌드 리스트 스타일 */
.trend_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 추천 콘텐츠 스타일 */
.recommend_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recommend_menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recommend_list {
    display: flex;
    overflow-x: auto;
}

.lib_guide {
    margin-top: 20px;
}
