.keyword_cloud {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.keyword_key {
    display: inline-block;
    padding: 5px 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
}

