/* src/recommend.css */
.category-container {
    width: 60%;
    max-width: 1000px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .slider {
    position: relative;
    width: 120%;
    overflow: hidden;
    align-items: center;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;

  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .book-cover {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  