#trends {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  gap: 40px;
  padding: 20px;
  justify-content: center;
}

#trends .book-item {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
}

#trends .book-cover {
  width: 170px;
  height: 220px;
  object-fit: cover;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 10px;
}

#trends .book-title {
  text-align: center;
  font-size: 15px;
  color: #333;
}

#trends .pagination {
  position: absolute;
  width: 100%;
  top: 40%;
  display: flex;
  justify-content: space-between;
}

#trends .btn_prev, #trends .btn_next {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
}

#trends .btn_prev:hover, #trends .btn_next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
