.trends-container {
  display: flex;
  flex-wrap: wrap;
  /* overflow-x: auto; */
  position: relative;
  width: 100%;
  gap: 40px;
  padding: 20px;
  justify-content: center;
  /* border: 1px solid #ccc; */
}

.trends-book-item {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
}

.trends-book-cover {
  width: 170px;
  height: 220px;
  object-fit: cover;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 10px;
}

.trends-book-title {
  text-align: center;
  font-size: 1.1em;
  color: #333;
}

.btn_prev, .btn_next {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  width: 30px; 
  height: 50px;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
}

.btn_prev {
  left: 10px;
}
.btn_next {
  right: 10px;
}
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

