.my-sidebar{
  margin: 90px 5%;
  border:1px solid #dddddd;
  border-radius: 10px;
  padding: 30px;
  width: 220px;
  text-align: center;
  background-color: #f5f7f8;
  height: 500px;
}

.my-sidebar ul{
  padding: 0;
}

.my-sidebar li{
  margin: 20px 0;
  font-size: 16px;
  list-style: none;
}
.my-sidebar li > a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.my-sidebar li.has-submenu {
  cursor: pointer; /* 커서를 손 모양으로 변경 */
}

.my-sidebar .arrow {
  margin-left: 10px; /* 화살표와 텍스트 사이의 간격 조정 */
}