.bookDetail {
  margin-left : 200px;
  margin-right: 200px;
}


.bookDetail .book-detail-container{
  margin: 10px;
  margin-bottom: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  display: flex;
}

.bookDetail .book-detail-container .book-img-container{
  margin: 20px;
  flex: 0 1 250px;
}

.bookDetail .book-detail-container .book-detail{
  flex: 1;
  margin: 20px ;
}

.bookDetail .book-detail-container .book-detail > h5{
  color: black;
  font-weight: bold;
  font-size: 28px;
  padding-top: 10px;
  margin: 10px 0 ;
}

.bookDetail .book-detail-container .book-detail > p{
  color: #707070;
  margin-left: 5px;
  margin-top: 10px;
  padding-top: 15px;
}


.bookDetail .lib-list{
  margin: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.bookDetail .lib-list .lib-table{
  width: 100%;
}

.bookDetail .lib-list .lib-table thead{
  border-bottom: 2px solid #3a8acc;
  height: 42px;
}
.bookDetail .lib-list .lib-table th{
  text-align: center;
}

.bookDetail .lib-list .lib-table tr{
  border-top: 1px solid #aaa;
}
.bookDetail .lib-list .lib-table tr:nth-child(1){
  border:none
}


.bookDetail .lib-list .lib-table .button-row{
  display: flex;
  flex-direction: column;
}
.bookDetail .lib-list .lib-table .button-row > button{
  flex: 0 0 42px;
  margin: 5px;
  background-color: #3a8acc;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.bookDetail .lib-list .lib-table .button-row > button:hover{
  background-color: #1d68a5;;
}
.bookDetail .lib-list .lib-table .button-row > button:disabled{
  background-color: #939ea7;
}

.bookDetail .bookD{
  margin: 10px;
}
.bookDetail .bookD > h3 {
  margin-bottom: 30px;
}

.bookDetail .bookD > h3 > span{
  width: auto;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 10px 30px;
}
.bookDetail .bookD > div{
  margin-bottom: 50px;
}