.bookDetail .centered-content {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.bookDetail .bordered {
  border: 1px solid black;
}

.bookDetail .full-width {
  width: 100%;
}

.bookDetail .left-align {
  text-align: left;
}

.bookDetail .cover-img {
  object-fit: cover;  
  max-width: 150px; /* 원하는 이미지 크기로 설정 */
  margin: 0 auto; /* 이미지 중앙 정렬 */
}

.bookDetail .no-image {
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookDetail .book-detail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* 전체 컨테이너 중앙 정렬 */
}

.bookDetail .img-container {
  flex: 1;
  width: 150px;
}

.bookDetail .text-container {
  flex: 2;
  padding-left: 20px; /* 이미지와 텍스트 사이에 여백 추가 */
  font-size: 15px;
}

.bookDetail .bookD{
  border-top: 1px solid black;
  padding-bottom: 50px;
}

.bookDetail .bookD{
  padding-top: 20px;
}

.bookDetail .card-title{
  font-size: 20px;
}

.bookDetail .book-detail{
  font-size: 15px;
}

.bookDetail .card-body{
  margin: 0 auto;
  width: 150px;
}

.bookDetail .table-dark{
  background: black;
}

.bookDetail .table-dark th{
  border: 1px solid black;
  background: black;
}

.bookDetail .table-detail{
  border: 1px solid black;
}

.bookDetail .table-deatil td2{
  border: 1px solid black;
}