#admin-page-center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#admin-page-item {
  margin: 0 5px;
}

#admin-pre, #admin-next {
  cursor: pointer;
}

#admin-pre.disabled, #admin-next.disabled {
  cursor: not-allowed;
}

#admin-page-center .page-item.active .page-link {
  background-color: #3a424b;
  border-color: #343a40;
color: white;}

#admin-page-center .page-link {
  color: #343a40;
}

#admin-page-center .page-link:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
