.admin-page {
  padding-top: 7px;
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  padding-bottom: 30px;
  overflow: hidden;
}

.admin-main-main {
  margin-top: 100px;
  margin-left: 250px;
  padding-bottom: 30px;
  width: 85%;
  align-items: center;
  height: 800px;
  overflow: hidden;
  overflow-y: auto;
  background-color: hsla(45, 6%, 87%, 0.459);
}

.admin-main-main>.admin-main-body {
  border-radius: 15px;
  min-height: 800px;
  align-items: center;
  background-color: white;
  margin: 0 auto;
}

.admin-main-body>.admin-main-dash-top {
  width: 100%;
  height: 20px;
}

.admin-main-body>.admin-main-dash-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 850px;
}

.admin-main-left,
.admin-main-right {
  width: 100%;
  padding: 0px 30px;
}

.admin-main-left {
  border-right: 1px solid #eee;
}

.admin-left-box1 {
  height: 80px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 20px;
}



.admin-left-box1>h5 {
  box-shadow: 5px 5px 5px rgb(248, 238, 238);
  padding-bottom: 10px;
  border-bottom: 2px solid #b1b1b1;
  background-color: #fae4cc;
  border-radius: 15px;
  padding: 10px;
}

.admin-left-box2 {
  height: 350px;
}

.calendar-container {
  width: 100%;
}

.react-calendar__navigation button {
  font-family: 'Noto Sans KR', sans-serif;
  color: #03050f;
  font-size: 16px;
  font-weight: bold;
}

.react-calendar__tile--now {
  background: #fdc7a8 !important;

  box-shadow: 1px 1px 5px #faf2e2;
  color: #000000 !important;
  border-radius: 10px;
}

.admin-left-box3 {
  font-size: 13px;
  margin-top: 10px;
  height: 300px;
  width: 100%;
}


.admin-left-box3>.admin-table th,
tr,
.admin-right-box3>.admin-table th,
tr,
.admin-right-box2>.admin-table th,
tr {
  background-color: hsla(42, 17%, 88%, 0.171);
  font-size: 14px;
  padding: 10px;
  border-bottom:  1px solid #e0d8d8;

}

.admin-left-box3>.admin-table th,
.admin-right-box2>.admin-box2-table th {
  border-bottom: 2px solid #818181a6;
  background-color: rgba(195, 195, 209, 0.315);
  color: rgb(36, 33, 33);

}



.admin-right-box1 {
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.admin-right-graph {
  font-weight: bold;
  padding: 20px;
  width: 100%;
  margin: 20px;
  background: linear-gradient(#fdc8a9, #ffc4a1);
  box-shadow: 5px 5px 20px rgb(241, 236, 236);
  color: #000000;
  border-radius: 20px;
  font-size: 16px;
}

.admin-right-graph>div>h1 {
  font-size: 17px;
  color: #0c0000;
}

.admin-right-box2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  height: 300px;
}

.admin-box2-table > h4 > a, .admin-left-box3  > h4 >a {
  margin-left: 30px;
  color: rgba(41, 40, 40, 0.801);
  font-size: 20px;
  

}

.admin-box2-table {
  width: 100%;

}
