.admin-page {
  padding-top: 7px;
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  padding-bottom: 30px;
  overflow: hidden;
  /* Ensure no scrollbars appear unnecessarily */
}

.admin-main-main {
  margin-top: 100px;
  margin-left: 250px;
  padding-bottom: 30px;
  width: calc(100% - 250px);
  /* Adjust width to account for margin-left */
  align-items: center;
  height: calc(100vh - 130px);
  /* Ensure this fits your layout */
  margin-bottom: 30px;
  background-color: hsla(45, 6%, 87%, 0.459);
  overflow-y: auto;
  /* Add vertical scroll if needed */
  overflow-x: hidden;
  /* Prevent horizontal scroll */
}

.admin-main-main>.admin-main-body {
  border-radius: 15px;
  min-height: 80vh;
  /* Use viewport height for dynamic resizing */
  align-items: center;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  /* Added padding for more white space */
  overflow: hidden;
  /* Prevent scrollbars inside the body */
}



.admin-main-body>.admin-main-dash-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 80vh;
  /* Use viewport height for dynamic resizing */
}

.admin-main-left,
.admin-main-right {
  width: 100%;
  padding: 0px 20px;
  padding-bottom: 30px;
  overflow: hidden;
  /* Prevent scrollbars inside these sections */

}

/* 왼쪽 영역 */
.admin-main-left {
  border-right: 1px solid #eee;
}

/* 방문자수 */
.admin-left-box4 {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.admin-left-graph {
  display: flex;
}

.admin-left-graph h4 {
  margin-right: 10px; /* Adjust spacing as needed */
  color: #041414; /* Desired color for the h1 element */
  font-size:  16px;
}

.admin-left-graph p {
  color:  #4fc9c9; /* Desired color for the p element */
  font-size:  17px;
  font-weight: bold;
}


.admin-left-graph .chart-container {
  background-color: white;
  width: 100%;
  height: 200px;
}




/* 오늘 날짜 */
.admin-left-box1 {
  height: 80px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 20px;
}

/*제목*/
.admin-left-box1>h5 {
  box-shadow: 5px 5px 5px rgb(248, 238, 238);
  padding-bottom: 10px;
  border-bottom: 2px solid #b1b1b1;
  background-color: #cbdcf1;
  color: #5a6363;
  font-weight: bold;
  border-radius: 15px;
  padding: 10px;
}

/* 달력 */
.admin-left-box2 {
  height: 350px;
  margin-bottom: 10px;
}

.admin-left-box2>.calendar-container {
  width: 100%;
 padding-bottom: 10px;

}

.admin-left-box2>.react-calendar__navigation button {
  font-family: 'Noto Sans KR', sans-serif;
  color: #03050f;
  font-size: 16px;
  font-weight: bold;


}



.admin-left-box2 .react-calendar__tile--now {
  background:#4fc9c9;
  box-shadow: 1px 1px 10px #fcf6ec;
  color: #fffcfc !important;
  border-radius: 10px;
  

  
}









/* 휴관일 */
.admin-left-box3 {
  font-size: 13px;
  margin-top: 20px;
  height: 300px;
  width: 100%;
}






/**** 테이블 ****/


.admin-box1-table table,
.admin-box1-table th,
.admin-box1-table td {
  pointer-events: none;
}

/* 휴관일, 오른쪽 테이블 th, tr */
.admin-left-box3>.admin-table th,
.admin-left-box3>.admin-table tr,
.admin-right-box1 .admin-table th,
.admin-right-box1 .admin-table tr {
  background-color: hsla(175, 46%, 95%, 0.164);
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #dce9e3;
}

/*테이블 th */
.admin-left-box3>.admin-table th,
.admin-right-box1>.admin-box1-table th {
  border-bottom: 2px solid #818181a6;
  background-color:#bdcce0;
  color: rgb(36, 33, 33);
}

/* 오른쪽 테이블영역 */
.admin-right-box1 {
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
}

.admin-right-box1>.admin-box1-table {
  width: 100%;
  padding-bottom: 30px;
  font-size: 14px;
}

.admin-box1-table>.admin-table {
  margin-top: 10px;
}


/* 테이블 영역 제목 */
.admin-left-box3 .admin-h4,
.admin-box1-table > .admin-h4 {
  margin-left: 0px;
  margin-bottom: 0px;
}

.admin-box1-table>.admin-h4>a,
.admin-left-box3>.admin-h4>a {

  color: rgba(41, 40, 40, 0.801);
  font-size: 20px;
  margin-left: 0;
}










/*그래프영역  */
.admin-right-graph {
  height: 300px;
margin-bottom: 20px;
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



.admin-right-box3 {
  height: 300px;

}

/* Add scrollable table container */
.scrollable-table-container {
  max-height: 400px;
  /* Adjust the height as needed */
  overflow-y: auto;
}