.admin-header {
  font-family: 'Noto Sans KR', sans-serif;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2C3E50;
  color: white;

  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* 다른 요소들보다 위에 표시되도록 설정 */

  padding:  30px 20px;
}




.admin-header-section-logo {
margin-bottom:20px;

}

.admin-header-section-logo  img {
  padding: 0 10px;
  border-radius: 30px;
  cursor: pointer;
}

.admin-header-section-logo  > a{
  padding-top: 20px;
  font-size: 20px; /* 적절한 폰트 크기로 설정 */
  font-weight: bold;
  text-decoration: none;
  color: white;
  
}




.header-section-side {
  padding-top: 30px;
}

.header-section-side p > a{
  
  font-size: 15px; /* 적절한 폰트 크기로 설정 */
  font-weight: bold;
  text-decoration: none;
  color: white;
 
}



