/* .findId {
    background-color: #E8F8FF;
    font-family: "Noto Sans KR", sans-serif;
}

.findId_show {
    height: 600px;
}

#findId_show_id {
    border-radius: 10px;
    height: 55%;
    width: 60%;
    margin-left: 20%;
    margin-top: 1%;
    background-color: rgb(255, 255, 255);
    padding-top: 40px;
}

.show_id {
    height: 55%;
    white-space: pre-wrap;
    font-size: 25px;
    text-align: center;
}

#go_login {
    font-size: 25px;
    color: white;
    width: 30%;
    height: 22%;
    border: none;
    border-radius: 10px;
    background-color: #7193D2;
    margin-left: 35%;
    margin-top: 25px;
}

#go_login > a {
    text-decoration: none;
    color: white;
}


.findId_notExist {
    height: 600px;
}

#findId_show_notExist {
    border-radius: 10px;
    height: 55%;
    width: 60%;
    margin-left: 20%;
    margin-top: 1%;
    background-color: rgb(255, 255, 255);
    padding-top: 40px;
}

.show_notExist {
    height: 55%;
    white-space: pre-wrap;
    font-size: 25px;
    text-align: center;
    padding-top: 2%;
}

#go_signUp {
    font-size: 25px;
    color: white;
    width: 30%;
    height: 22%;
    border: none;
    border-radius: 10px;
    background-color: #7193D2;
    margin-left: 35%;
    margin-top: 25px;
}

#go_signUp > a {
    text-decoration: none;
    color: white;
}


.findId_show {
    height: 600px;
}

#findId_show_id {
    border-radius: 10px;
    height: 55%;
    width: 60%;
    margin-left: 20%;
    margin-top: 1%;
    background-color: rgb(255, 255, 255);
    padding-top: 40px;
}

.show_id {
    height: 55%;
    white-space: pre-wrap;
    font-size: 25px;
    text-align: center;
}

#go_login {
    font-size: 25px;
    color: white;
    width: 30%;
    height: 22%;
    border: none;
    border-radius: 10px;
    background-color: #7193D2;
    margin-left: 35%;
    margin-top: 25px;
}

#go_login > a {
    text-decoration: none;
    color: white;
} */